.header-top {
  background: url(https://i.ibb.co/RCjTSDT/top.png) no-repeat;
  padding: 35px 0 30px;
  position: relative;
  background-repeat: repeat-x;
  background-position: center -1px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(380deg);
}
